<!DOCTYPE html>

<html lang="en" xmlns:th="http://www/thymeleaf.org">
<body>
<!--导航栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://getbootstrap.com/docs/4.0/examples/dashboard/#">[[${session.loginUser}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">

    </ul>
</nav>

<!--侧边栏-->
<nav th:fragment="sidebar">
<input type="checkbox" id="check1">
<label for="check1">
    <i class="fas fa-bars" id="btn1"></i>
    <i class="fas fa-times" id="cancel1"></i>
</label>
<div class="sidebar">
    <header>能力风暴</header>
    <li class="nav-item text-nowrap">
        <a class="nav-link" th:href="@{/user/loginOut}">退出登陆</a>
    </li>
    <ul>
        <li>        <a
                th:class="${active=='teacherList.html'?'nav-link active':'nav-link'}"
                th:href="@{/teacher/showAllTeacher}"
        ><i class="fas fa-qrcode"></i>教师管理</a></li>

        <li>        <a
                th:class="${active=='classList.html'?'nav-link active':'nav-link'}"
                th:href="@{/class/showAllClass}"
        ><i class="fas fa-link"></i>班级管理</a></li>
        <li>        <a
                th:class="${active=='studentList.html'?'nav-link active':'nav-link'}"
                th:href="@{/student/showAllStudent}"
        ><i class="fas fa-stream"></i>学生管理</a></li>
        <li>        <a
                th:class="${active=='salaryList.html'?'nav-link active':'nav-link'}"
                th:href="@{/salary/showAllSalary}"
        ><i class="fas fa-calendar-week"></i>工资管理</a></li>
        <li>        <a
                th:class="${active=='showStudent.html'?'nav-link active':'nav-link'}"
                th:href="@{/student/showStudent}"
        ><i class="far fa-question-circle"></i>学生展示</a></li>
        <li>        <a
                th:class="${active=='schoolStyle.html'?'nav-link active':'nav-link'}"
                th:href="@{/schoolStyle/showAllSchoolImage}"
        ><i class="far fa-question-circle"></i>学校风采</a></li>
        <li>        <a
                th:class="${active=='courseList.html'?'nav-link active':'nav-link'}"
                th:href="@{/course/showAllCourse}"
        ><i class="far fa-question-circle"></i>课程管理</a></li>
    </ul>
</div>

</nav>
</body>
</html>