.con-img{
	width: 100%;
	margin: 1% auto 0;
}
.con-img>li>img{
	display: block;
	transform: scale(1);
	transition: all ease 0.5s;
	
}
.con-img>li{
    margin: 5px;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
    float: left;
    border-radius: 8px;
}
.con-img>li>div{
	width: 300px;
	height: 300px;
	background-color: rgba(0,0,0,0);
	position: absolute;
	top: 0;
	padding-top: 120px;
	padding-left: 20px;
}
.con-img>li:hover>img{
	transform: scale(1.5);
}
.con-img>li:hover>div{
	background-color: rgba(0,0,0,0.5);
}
.con-img>li>div>p{
	line-height: 25px;
	font-size: 16px;
	color: aliceblue;
	font-weight: bold;
	text-align: left;
	opacity: 0;
}
.con-img>li>div>a{
	line-height: 25px;
	font-size: 16px;
	color: aliceblue;
	font-weight: bold;
	text-align: left;
	opacity: 0;
}
.con-img>li>div>p:nth-child(1){
	font-size: 25px;
	opacity: 0;
}
.con-img>li:hover>div>p{
	opacity: 2;
}
