* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #009688;
    transition: all 0.5s ease;
}
a{
    color: white;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #FFB800;
    user-select: none;
}
/*header{*/
/*    font-size: 30px;*/
/*    color: black;*/
/*    text-align: center;*/
/*    line-height: 70px;*/
/*    background: #063146;*/
/*    user-select: none;*/
/*}*/

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    translation: 0.4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check1 {
    display: none;
}

label #btn1,
label #cancel1 {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn1 {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
}

label #cancel1 {
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s ease;
}

#check1:checked ~ .sidebar {
    left: -250px;
}

#check1:checked ~ label #btn1 {
    left: 5%;
    opacity: 100%;
    /*pointer-events: none;*/
    pointer-events: all;
}

#check1:checked ~ label #cancel1 {
    left: -195px;
}

#check1:checked ~ section {
    margin-left: 250px;
}

