<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zwzx.managersystem.mapper.ClassMapper">

    <select id="showAllClass" resultType="top.zwzx.managersystem.pojo.classClass">
-- select c.classId,c.classTime,c.className,c.classRoom  from  class c
select * from class c,teacher t where c.teacherId=t.teacherId
 </select>
    <insert id="addClass" parameterType="top.zwzx.managersystem.pojo.classClass">
        insert into class(className,classRoom,classTime,teacherId,text) values (#{className},#{classRoom},#{classTime},#{teacherId},#{text})
    </insert>
    <select id="countStudent" resultType="java.lang.Integer" parameterType="top.zwzx.managersystem.pojo.classClass">
        select count(*) from classSelect where classId=#{classId}
    </select>
    <select id="groupByClass" resultType="java.lang.Integer" parameterType="top.zwzx.managersystem.pojo.classClass">
        select count(*) from classSelect group by classId
    </select>
<select id="classSelect" resultType="top.zwzx.managersystem.pojo.classClass">
    select classId,className,classRoom from class
</select>
    <select id="queryStudent" resultType="top.zwzx.managersystem.pojo.Student" parameterType="int">
select * from classSelect cs,student s where cs.studentId=s.studentId and classId=#{id}
    </select>
<!--查询所选课程的老师信息-->
    <select id="queryTeacherInfo" resultType="top.zwzx.managersystem.pojo.Teacher" parameterType="int">
select  teacherName,t.teacherId from class c,teacher t  where c.teacherId=t.teacherId and c.classId=#{id}

    </select>
    <insert id="addStudentToClass" parameterType="top.zwzx.managersystem.pojo.Student">
insert into classSelect (classId,studentId) value (#{classId},#{studentId})
   </insert>
    <select id="queryAllTeacherName" resultType="top.zwzx.managersystem.pojo.classClass">
select * from class c,teacher t where c.teacherId=t.teacherId
    </select>
    <select id="showOneClass" resultType="top.zwzx.managersystem.pojo.classClass">
select * from class c,teacher t where c.teacherId=t.teacherId and c.classId=#{id}
    </select>
    <update id="updateClass" parameterType="top.zwzx.managersystem.pojo.classClass">
        update class set className=#{className} , classRoom=#{classRoom},classTime=#{classTime},teacherId=#{teacherId},text=#{text} where classId=#{classId}
    </update>
    <delete id="dropClass" parameterType="java.lang.Integer">
        delete from class where classId=#{id}
    </delete>
    <delete id="dropStudentOfClass" parameterType="java.lang.Integer">
        delete from classselect where classId=#{cId} and studentId=#{sId}
    </delete>
    <update id="comeOn" parameterType="java.lang.Integer">
        update student set restOfClass=restofCLass-2 where studentId=#{sId}
    </update>
    <insert id="classRecord" parameterType="top.zwzx.managersystem.pojo.ClassRecord">
        insert into classrecord(studentId,text,date,classId,createTeacher) values (#{studentId},#{text},#{date},#{classId},#{createTeacher})
    </insert>
</mapper>
