<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zwzx.managersystem.mapper.ParentsMapper">
<insert id="registerParents" parameterType="top.zwzx.managersystem.pojo.Parents">
    insert into parents(parentsName,telephoneNumber,email,password)value (#{parentsName},#{telephoneNumber},#{email},#{password})
</insert>
    <select id="loginSFCByTelephoneNumber" parameterType="java.lang.String" resultType="top.zwzx.managersystem.pojo.Parents">
        select * from parents where telephoneNumber=#{username} and password=#{password};
    </select>

</mapper>
