<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zwzx.managersystem.mapper.ParentsMapper">
<insert id="registerParents" parameterType="top.zwzx.managersystem.pojo.Parents">
    insert into parents(parentsName,telephoneNumber,email,password)value (#{parentsName},#{telephoneNumber},#{email},#{password})
</insert>
    <select id="loginSFCByTelephoneNumber" parameterType="java.lang.String" resultType="top.zwzx.managersystem.pojo.Parents">
        select * from parents where telephoneNumber=#{username} and password=#{password};
    </select>
    <select id="showAllParentsList" resultType="top.zwzx.managersystem.pojo.Parents">
        select * from parents p left join student s on p.studentId=s.studentId
    </select>

    <delete id="dropParents" parameterType="java.lang.Integer">
        delete from parents where parentsId=#{id}
    </delete>
    <select id="showOneParents" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.Parents">
        select * from parents where parentsId=#{id}
    </select>
    <update id="updateParents" parameterType="top.zwzx.managersystem.pojo.Parents">
        update parents set parentsName=#{parentsName},telephoneNumber=#{telephoneNumber},studentId=#{studentId},email=#{email},password=#{password}
        where parentsId=#{parentsId}
    </update>
    <select id="showOneParentsByTelephoneNumber" parameterType="java.lang.String" resultType="top.zwzx.managersystem.pojo.Parents">
        select * from parents where telephoneNumber=#{telephoneNumber}
    </select>
    <select id="showOneParentsAndStudent" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.Parents">
        select * from parents p,student s where p.studentId=s.studentId and p.parentsId=#{id}
    </select>
    <update id="updatePasswrod" parameterType="top.zwzx.managersystem.pojo.Parents">
        update parents set password=#{password} where parentsId=#{parentsId}
    </update>
    <select id="showHaveClass" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.haveClass">
        select className,classRoom,classTime,text,teacherName from classselect sc,class c,teacher t where sc.classId=c.classId and c.teacherId=t.teacherId and sc.studentId=#{studentId} group by c.classId
    </select>
    <insert id="addAdvice" parameterType="top.zwzx.managersystem.pojo.Advice">
        insert into advice(parentsName,parentsId,content,createTime,feedBack,feedBackUser,courseName) value (#{parentsName},#{parentsId},#{content},#{createTime},#{feedBack},#{feedBackUser},#{courseName})
    </insert>
    <select id="showAdvice" resultType="top.zwzx.managersystem.pojo.Advice">
        select * from advice;
    </select>
    <delete id="dropAdvice" parameterType="java.lang.Integer">
        delete from advice where adviceId=#{adviceId}
    </delete>
    <select id="showOneAdvice" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.Advice">
        select * from advice where adviceId=#{adviceId}
    </select>
    <update id="updateAdvice" parameterType="top.zwzx.managersystem.pojo.Advice">
        update advice set feedBack=#{feedBack},feedBackUser=#{feedBackUser} where adviceId=#{adviceId}
    </update>
    <select id="showAdviceByParentsIdNotFeedBack" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.Advice">
        select  * from advice where parentsId=#{parentsId} and feedBack='暂无';
    </select>
    <select id="showAdviceByParentsIdAlreadyFeedBack" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.Advice">
        select  * from advice where parentsId=#{parentsId} and feedBack!='暂无';
    </select>
</mapper>
