<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zwzx.managersystem.mapper.SalaryMapper">

<select id="showAllSalary" resultType="top.zwzx.managersystem.pojo.Salary">
    select * from salary
</select>
<insert id="salaryAdd" parameterType="top.zwzx.managersystem.pojo.Salary">
    insert into salary (teacherName,baseSalary,classMoney,commission,leaveDays,deductions,dateTime,issue)
    values (#{teacherName},#{baseSalary},#{classMoney},#{commission},#{leaveDays},#{deductions},#{dateTime},#{issue})
</insert>
    <select id="toSalaryUpdate" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.Salary">
        select * from salary where salaryId=#{id}
    </select>
    <update id="salaryUpdate" parameterType="top.zwzx.managersystem.pojo.Salary">
        update salary set teacherName=#{teacherName},baseSalary=#{baseSalary},classMoney=#{classMoney},commission=#{commission},leaveDays=#{leaveDays},deductions=#{deductions},dateTime=#{dateTime},issue=#{issue}
        where salaryId=#{salaryId}
    </update>
    <delete id="dropSalary" parameterType="java.lang.Integer">
        delete from salary where salaryId=#{id}
    </delete>
</mapper>