<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zwzx.managersystem.mapper.SchoolStyleMapper">
    <select id="queryAllSchoolStyle" resultType="top.zwzx.managersystem.pojo.SchoolStyle">
        select * from schoolStyle
    </select>
    <insert id="addSchoolImage" parameterType="top.zwzx.managersystem.pojo.SchoolStyle">
        insert into schoolStyle(createUser,createTime,image) value (#{createUser},#{createTime},#{image})
    </insert>

</mapper>
