<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zwzx.managersystem.mapper.SchoolStyleMapper">
    <select id="queryAllSchoolStyle" resultType="top.zwzx.managersystem.pojo.SchoolStyle">
        select * from schoolStyle
    </select>
    <insert id="addSchoolImage" parameterType="top.zwzx.managersystem.pojo.SchoolStyle">
        insert into schoolStyle(createUser,createTime,image) value (#{createUser},#{createTime},#{image})
    </insert>
    <select id="showOneBigImage" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.SchoolStyle">
        select * from schoolStyle where imageId=#{id}
    </select>
    <select id="showAllClassRecord" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.ClassRecord">
        select cr.text,cr.date,c.className,cr.classRecordId from classrecord cr,class c where c.classId=cr.classId and studentId=#{studentId} order by cr.date desc
    </select>
    <select id="showImageByClassRecordId" resultType="top.zwzx.managersystem.pojo.Image" parameterType="java.lang.Integer">
        select dateTime alt,studentId pid,image src,image thumb from imagestyle where classRecordId=#{classRecordId}
    </select>
    <select id="showAllClassImageByStudentId" resultType="top.zwzx.managersystem.pojo.ImageStyle" parameterType="java.lang.Integer">
        select * from imagestyle where studentId=#{studentId}
    </select>


</mapper>
