<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zwzx.managersystem.mapper.StudentMapper">

    <select id="showAllStudent" resultType="top.zwzx.managersystem.pojo.Student">
        select  * from student
    </select>
    <select id="queryStudentId" resultType="java.lang.Integer" parameterType="top.zwzx.managersystem.pojo.Student">
        select  studentId from student where studentName=#{studentName} order by studentId desc
    </select>


    <insert  id="addStudent" parameterType="top.zwzx.managersystem.pojo.Student">
        insert into student(studentName,age,admissionTime,sex,restOfClass,parentsName,telephoneNumber,relationshipWithStudent)
        values (#{studentName},#{age},#{admissionTime},#{sex},#{restOfClass},#{parentsName},#{telephoneNumber},#{relationshipWithStudent});
    </insert>
    <delete id="dropStudent" parameterType="java.lang.Integer">
        delete from student where studentId=#{id}
    </delete>
</mapper>
