<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zwzx.managersystem.mapper.TeacherMapper">

    <select id="showAllTeacher" resultType="top.zwzx.managersystem.pojo.Teacher">
        select * from teacher
    </select>
    <insert id="addTeacher" parameterType="top.zwzx.managersystem.pojo.Teacher">
        insert into teacher(teacherName,position,comeTime,telephoneNumber,briefIntroduction,declaration,image) values
        (#{teacherName},#{position},#{comeTime},#{telephoneNumber},#{briefIntroduction},#{declaration},#{image})
    </insert>
    <delete id="dropTeacher" parameterType="java.lang.Integer">
        delete from teacher where teacherId=#{id}
    </delete>
    <select id="queryOneTeacher" parameterType="java.lang.Integer" resultType="top.zwzx.managersystem.pojo.Teacher">
        select * from teacher where teacherId=#{id}
    </select>
    <update id="updateTeacher" parameterType="top.zwzx.managersystem.pojo.Teacher" >
        update  teacher set teacherName=#{teacherName},position=#{position},comeTime=#{comeTime},telephoneNumber=#{telephoneNumber},briefIntroduction=#{briefIntroduction},declaration=#{declaration}
        <if test="image!=null">
            ,image=#{image}
        </if>
        where teacherId=#{teacherId}
    </update>
</mapper>
