<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/css/studentStyle.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/loader.css}" />
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js}"></script>
    <title>学校风采</title>
  </head>
  <body>
    <div class="layui-container">
      <div class="layui-row">
        <div class="layui-col-xs8">
          <div class="masonry" id="image">
            <div th:each="course:${courses}">
              <a th:href="@{${course.getImage()}}">
                <div class="item">
                  <img th:src="@{${course.getImage()}}"/>
                </div>
              </a>
            </div>
            <!-- <div class="item">
              <img src="http://192.168.238.206/uploadFile/8055be15-86ff-410c-8ff3-bda64d48c5b8.JPG" />
            </div>
            <div class="item">
              <img src="http://192.168.238.206/uploadFile/19717677-bce8-4d0e-976c-da04dbd15493.JPG" />
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!--页面加载end-->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
      <div class="load_title">加载中</div>
    </div>
    <script type="text/javascript">
      $(window).load(function () {
        $("body").addClass("loaded").Chameleon({
          current_item: "hoveralls",
          json_url: "../Envato/items.json",
        });
        $("#loader-wrapper .load_title").remove();
      });
    </script>
    <script>
      // $(function () {
      //   $("#iamge").click(function () {
      //     $.get("http://192.168.238.206/schoolStyle/showAllSchoolImageApp",function (data) {
      //       console.log(data);
      //       var html="";
      //       for(var i=0;i<data.length;i++){
      //         html+="<div class='item'><img src="
      //         +'data[i].image' +
      //         "/></div>"
      //       }
      //       $("#iamge").html(html)
      //     })
      //     })
      //   })
      window.onload=function(){
            $.get("http://192.168.198.206/schoolStyle/showAllSchoolImageApp",function (data) {
            var html="";
            for(var i=0;i<data.length;i++){
              console.log(data[i].image),
              html+='<div class="item"><a href="'+data[i].image+'"><img src="'+data[i].image+'"/></a></div>'
              // html+='<div><span>'+data[i].createUser+'</span></div>'
            }
            $("#image").html(html)
          })
      }
    </script>
  </body>
</html>
